{% load pages_tags %}

<nav class="navbar navbar-default gap-none">
  <div class="container">
    <div class="navbar-header">
      <button type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#sw_navbar_collapse"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{% url 'home' %}" class="navbar-brand">
      <img src="{{ STATIC_URL }}images/logo.png" alt="Startup Weekend Santo Domingo">
    </a>
    </div>
    <div class="collapse navbar-collapse" id="sw_navbar_collapse">
      <ul class="nav navbar-nav navbar-right">
        {% for page in page_branch %}
        {% if page.in_menu %}
        <li{% if page.is_current_or_ascendant %} class="active"{% endif %}>
          <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
