{% extends 'base-section.html' %}

{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n disqus_tags %}

{% block title %}{{ blog_post.meta_title }}{% endblock %}
{% block body_id %}blog{% endblock %}

{% block og_data %}
<meta property="og:type" content="article">
<meta property="og:url" content="http://startupweekend.do{{ blog_post.get_absolute_url }}">
<meta property="og:title" content="{{ blog_post.title }}">
<meta property="og:description" content="{{ blog_post.description }}">
{% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
<meta property="og:image" content="http://startupweekend.do{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 1200 0 %}">
{% else %}
<meta property="og:image" content="http://startupweekend.do{{ STATIC_URL }}images/fb-share-img.png">
{% endif %}
{% endblock %}

{% block body %}
<article class="container content-wrap">
  <div class="row">

    <div class="col-sm-8">
      <header>
        <h1 class="gap-top-none">{{ blog_post.title }}</h1>
        <div class="byline text-muted gap-bottom-sm">
          Publicado por
          {% with blog_post.user as author %}
          <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
          {% endwith %}
          | {{ blog_post.publish_date }}
        </div>
      </header>

      {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
      <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 800 0 %}">
      {% endif %}

      {{ blog_post.content|richtext_filters|safe }}
    </div>

    <div class="col-sm-4">
      {% include 'blog/includes/sidebar.html' %}
    </div>

  </div>
</article>
{% endblock %}
