<ul class="list-inline social-links {{ extra_class }}">
  <li>
    <a href="https://www.facebook.com/SantoDomingoStartupWeekend" target="_blank">
      <i class="fa fa-lg fa-facebook"></i>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/swsantodomingo" target="_blank">
      <i class="fa fa-lg fa-twitter"></i>
    </a>
  </li>
  <li>
    <a href="https://www.youtube.com/user/startupweekenddo" target="_blank">
      <i class="fa fa-lg fa-youtube-play"></i>
    </a>
  </li>
  <li>
    <a href="https://www.instagram.com/swsantodomingo/" target="_blank">
      <i class="fa fa-lg fa-instagram"></i>
    </a>
  </li>
</ul>
