<div class="past-event">
  <div class="past-event--col">
    <a href="{{ event.get_absolute_url }}">
      <b>{{ event.title }}</b>
    </a>
  </div>
  <div class="past-event--col">
    <i class="fa fa-calendar"></i>&nbsp;
    {{ event.start_date|date:"d M" }} - {{ event.end_date|date:"d M, Y" }}
  </div>
  <div class="past-event--col">
    <i class="fa fa-map-marker"></i>&nbsp;
    {{ event.location }}
  </div>
  <div class="past-event--col">
    <a href="{{ event.get_absolute_url }}" class="btn btn-primary btn-rounded">
      Ver Más
    </a>
  </div>
</div>
