{% load swdo_utils cropping thumbnail tz %}

{% thumbnail current_event.banner 2000x1200 box=current_event.banner_cropping as banner %}

<div class="jumbotron current-event gap-none"
  style="{% if current_event.banner %}background: url('{{ banner.url }}');{% endif %}">
  <div class="jumbotron-content text-center">
    <h5 class="uppercase gap-none"><b>Próximo Evento</b></h5>
    <h1 class="uppercase gap-top-none">
      {{ current_event.title }}
    </h1>
    <div class="info-row gap-bottom-sm">
      <div>
        <i class="fa fa-calendar"></i>&nbsp;
        {{ current_event.start_date|date:"d M" }} - {{ current_event.end_date|date:"d M, Y" }}
      </div>
      {% if current_event.location %}
      <div>
        <i class="fa fa-map-marker"></i>&nbsp;
        {{ current_event.location }}
      </div>
      {% endif %}
    </div>
    <a href="{{ current_event.registration_uri }}"
      class="btn btn-white btn-rounded">
      Inscríbete
    </a>
    &nbsp;
    <a href="#startupweekend"
      class="btn btn-outline btn-rounded">
      Más Información
    </a>
  </div>
  <div class="overlay"></div>
</div>

{% if current_event.youtube_video_id %}
<section id="startupweekend" class="gray-bg">
  <div class="container">
    <h1 class="gap-bottom-xs">¿Qué es {{ current_event.title }}?</h1>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item"
        src="https://www.youtube.com/embed/{{ current_event.youtube_video_id }}"
        frameborder="0"
        allowfullscreen>
      </iframe>
    </div>
  </div>
</section>
{% endif %}

<section class="container">
  <h1 class="gap-bottom-xs">Programa</h1>
  <div class="panel-group" id="event_schedule" role="tablist" aria-multiselectable="true">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          Programa del evento
        </h4>
      </div>
    </div>

    {% for day in schedule_days %}
    {% localtime on %}
    <div class="panel panel-default">
      <div class="panel-heading" role="tab">
        <h4 class="panel-title">
          <a role="button"
            data-toggle="collapse"
            data-parent="#event_schedule"
            href="#schedule_day_{{ forloop.counter }}">
            {{ day|date:"D d M" }}
            <span class="pull-right">
              <i class="fa fa-plus"></i>
            </span>
          </a>
        </h4>
      </div>
      <div id="schedule_day_{{ forloop.counter }}"
        class="panel-collapse collapse in"
        role="tabpanel">
        <div class="panel-body">
          {% for item in schedule_days|get_item:day %}
          <div class="schedule-item">
            <b>{{ item.time|date:"g:i A" }}</b>
            <span>{{ item.title }}</span>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endlocaltime %}
    {% endfor %}
  </div>
</section>

{% if current_event.facilitators %}
<section class="gray-bg">
  <div class="container">
    <h1 class="gap-bottom-xs">Facilitador</h1>
    {% for facilitator in current_event.facilitators %}
      <div class="row">
        <div class="col-sm-3">
          {% thumbnail facilitator.image 300x300 box=facilitator.image_crop as image %}
          <img src="{{ image.url }}"
            class="img-responsive gap-bottom-sm"
            alt="{{ facilitator.name }}">
        </div>
        <div class="col-sm-9">
          <h2 class="gap-top-none">{{ facilitator.name }}</h2>
          {{ facilitator.bio }}
        </div>
      </div>
    {% endfor %}
  </div>
</section>
{% endif %}

{% if current_event.mentors %}
<section class="dark-bg">
  <div class="container">
    <h1 class="gap-bottom-xs gap-top-none">Mentores</h1>
    {% include "includes/team.html" with team=current_event.mentors %}
  </div>
</section>
{% endif %}

{% if current_event.judges %}
<section class="dark-gray-bg">
  <div class="container">
    <h1 class="gap-bottom-xs gap-top-none">Jueces</h1>
    {% include "includes/team.html" with team=current_event.judges %}
  </div>
</section>
{% endif %}

{% if current_event.organizers %}
<section class="gray-bg">
  <div class="container">
    <h1 class="gap-none">Organizadores</h1>
    <p class="gap-top-none">
      {{ current_event.title }} llega a ti por la labor de las siguientes personas
    </p>
    {% include "includes/team.html" with team=current_event.organizers %}
  </div>

  <div class="container">
    <h1 class="gap-bottom-xs gap-top-xs">Colaboradores</h1>
    {% include "includes/team.html" with team=current_event.collaborators %}
  </div>
</section>
{% endif %}

{% if current_event.sponsors %}
<section class="container">
  <h1 class="gap-bottom-xs">Patrocinadores</h1>
  <div class="flex-row">
    {% include "includes/sponsors.html" with event=current_event %}
  </div>
</section>
{% endif %}
