{% load blog_tags %}

<aside class="sidebar">
  <div class="sidebar-section">
    <a class="twitter-timeline"
      data-lang="es"
      data-height="500"
      data-link-color="#4fbab6"
      href="https://twitter.com/SWSantoDomingo">
        Tweets de SWSantoDomingo
      </a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

  <div class="sidebar-section">
    <div class="fb-page"
      data-href="https://www.facebook.com/SantoDomingoStartupWeekend"
      data-tabs="timeline"
      data-width="390"
      data-small-header="false"
      data-adapt-container-width="true"
      data-hide-cover="false"
      data-show-facepile="true">
      <blockquote cite="https://www.facebook.com/SantoDomingoStartupWeekend"
        class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/SantoDomingoStartupWeekend">
          Startup Weekend Santo Domingo
        </a>
      </blockquote>
    </div>
  </div>

  <div class="sidebar-section">
    <h4>Instagram</h4>
    <div id="instafeed" class="instagram-feed"></div>
  </div>
</aside>
