{% load blog_tags %}

<aside class="sidebar">
  <div class="sidebar-section">
    <div class="flex-header gap-bottom-none">
      <h5><b><i class="fa fa-twitter"></i>&nbsp; @SWSantoDomingo</b></h5>
      <a href="https://www.twitter.com/swsantodomingo/"
        target="_blank"
        class="text-sm">
        <b>Ver más &raquo;</b></a>
    </div>
    <a class="twitter-timeline"
      data-lang="es"
      data-height="500"
      data-link-color="#4fbab6"
      data-chrome="noheader"
      href="https://twitter.com/SWSantoDomingo">
        Tweets de SWSantoDomingo
      </a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

  <div class="sidebar-section">
    <div class="flex-header gap-bottom-none">
      <h5><b><i class="fa fa-facebook"></i>&nbsp; @SantoDomingoStartupWeekend</b></h5>
      <a href="https://www.facebook.com/SantoDomingoStartupWeekend/"
        target="_blank"
        class="text-sm">
        <b>Ver más &raquo;</b></a>
    </div>
    <div class="fb-page"
      data-href="https://www.facebook.com/SantoDomingoStartupWeekend"
      data-tabs="timeline"
      data-width="390"
      data-small-header="true"
      data-adapt-container-width="true"
      data-hide-cover="true"
      data-show-facepile="true">
      <blockquote cite="https://www.facebook.com/SantoDomingoStartupWeekend"
        class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/SantoDomingoStartupWeekend">
          Startup Weekend Santo Domingo
        </a>
      </blockquote>
    </div>
  </div>

  <div class="sidebar-section">
    <div class="flex-header gap-bottom-none">
      <h5><b><i class="fa fa-instagram"></i>&nbsp; @SWSantoDomingo</b></h5>
      <a href="https://www.instagram.com/swsantodomingo/"
        target="_blank"
        class="text-sm">
        <b>Ver más &raquo;</b></a>
    </div>
    <div id="instafeed" class="instagram-feed"></div>
  </div>

  <div class="sidebar-section">
    <div class="flex-header gap-bottom-none">
      <h5><b><i class="fa fa-youtube-play"></i>&nbsp; #historiasdestartupweekend</b></h5>
      <a href="https://www.youtube.com/user/SWSantoDomingo/"
        target="_blank"
        class="text-sm">
        <b>Ver más &raquo;</b></a>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item"
        src="https://www.youtube.com/embed/videoseries?list=PLBV2dDWGD15xn9R9MWwt-L91kxwIqGzA6"
        frameborder="0"
        allowfullscreen>
      </iframe>
    </div>
  </div>
</aside>
