{% load thumbnail %}

<div class="sponsors">
{% for category in event.sponsors_by_category %}
{% if event.sponsors_by_category|get_item:category %}
<div class="sponsors--container">
  <h5 class="gap-none">{{ category }}</h5>
  <div class="sponsors--row">
  {% for sponsor in event.sponsors_by_category|get_item:category %}
  {% thumbnail sponsor.image 200x100 as image %}
  <div class="sponsors--row-item">
    <a href="{{ sponsor.url }}" target="_blank">
      <img src="{{ image.url }}" alt="{{ sponsor.name }}" class="img-responsive">
    </a>
  </div>
  {% endfor %}
  </div>
</div>
{% endif %}
{% endfor %}
</div>
