{% load thumbnail cropping %}

<div class="team--container">
{% for person in team %}
  {% thumbnail person.image 200x200 box=person.image_crop as image %}
  <div class="team--row-item">
    <img src="{{ image.url }}"
      alt="{{ person.name }}"
      class="img-responsive img-thumbnail gap-bottom-sm"
      {% if person.bio %}
      data-toggle="tooltip" data-placement="bottom" title="{{ person.bio }}"
      {% endif %}>
    <h5 class="gap-none">{{ person.name }}</h5>
  </div>
{% endfor %}
</div>
