{% extends 'base-section.html' %}
{% load mailchimp_form %}

{% block body_id %}conectate{% endblock %}

{% block main %}
<div class="row">
  <div class="col-sm-8 gap-bottom-lg">
    <h3 class="gap-top-none">Suscríbete a nuestro boletín</h3>
    <div class="text-muted gap-bottom-xs">
      Regístrate para recibir periódicamente nuestro boletín de noticias y próximos eventos.
    </div>
    {% mailchimp_form form_class='form-full' labels=True dropdowns=True %}
  </div>
  <div class="col-sm-4">
    {% include 'includes/sidebar-conectate.html' %}
  </div>
</div>
{% endblock %}

{% block footer_scripts %}
<script>
// Instafeed initializer
var feed = new Instafeed({
  get: 'user',
  clientId: '694f51e4c5964fdca7df9a493fcea120',
  accessToken: '3203931.694f51e.05905d3d8be4472b99a9c92b20988c0e',
  userId: 1542077877,
  limit: 12
});
feed.run();
</script>
{% endblock %}
