{% extends 'base.html' %}

{% block title %}Eventos Pasados{% endblock %}
{% block body_id %}past-events{% endblock %}

{% block body %}
<section class="container">
  <h1 class="gap-top-none gap-bottom-xs">{{ page.title }}</h1>

  <div class="past-event">
    <div class="past-event--col">
      <b>Startup Weekend Alpha</b>
    </div>
    <div class="past-event--col">
      <i class="fa fa-calendar"></i>&nbsp;
      29 Abril - 1 Mayo, 2016
    </div>
    <div class="past-event--col">
      <i class="fa fa-map-marker"></i>&nbsp;
      Instituto Tecníco Superior Comunitario
    </div>
    <div class="past-event--col">
      <a href="#" class="btn btn-primary btn-rounded">
        Ver Más
      </a>
    </div>
  </div>
</section>
{% endblock %}
