//
// Page Header
//
.page-header {
  background: $brand-primary;
  border: 0;
  margin: 0 0 40px;
  padding: 90px 0;
  text-align: center;
  h1,
  h3 {
    color: #fff;
  }
  h1 {
    font-size: 4.25em;
    margin: 0;
  }
  @include media-query(landscape-phones-and-down) {
    padding: 45px 0;
    h1 {
      font-size: 3em;
    }
  }
}

//
// Breadcrumbs
//
.breadcrumb {
  background-color: transparent;
  margin: 0;
  padding: 0;
  a {
    color: #fff;
  }
  > li {
    &::before {
      color: #fff !important;
    }
    &.active {
      color: lighten($brand-primary, 22.5%);
    }
  }
}

//
// Mailchimp Form
//
.mailchimp-form {
  &.form-full {
    .form-group,
    .form-control {
      width: 100%;
    }
    .form-group {
      margin-bottom: 2em;
    }
  }
  .required {
    color: $sw-red;
  }
  .extra-fields {
    display: none;
  }
}

//
// Frequently Asked Questions (FAQs)
// Used in `Startup Weekend` page
//
.faqs {
  &--container {
    font-weight: bold;
  }
  &--item {
    border-bottom: 1px solid #f7f7f7;
    margin-bottom: 1em;
    padding-bottom: 1em;
    .panel-title {
      color: $gray-light;
    }
    .panel-body {
      color: $gray-dark;
      font-weight: normal;
      padding: 0;
      p {
        margin: .5em 0;
      }
    }
  }
}

//
// "Startup Weekend" page
//
#about {
  .content-wrap {
    text-align: center;
    p {
      font-size: 1.25em;
      @extend .text-muted;
    }
    img {
      margin: 1.25em 0;
    }
  }
  @include media-query(desktops-and-up) {
    .mailchimp-form {
      .form-group:nth-child(1),
      .form-group:nth-child(2) {
        width: 50%;
      }
      .form-group:nth-child(1) {
        padding-right: 1%;
      }
    }
  }
}

//
// "Conectate" page
//
#conectate {
  .fb-page,
  .twitter-timeline {
    min-height: 500px;
  }
  .instagram-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > a {
      flex: 0 1 23%;
      margin-bottom: .75em;
    }
  }
}

//
// "Press Kit" page
//
#press-kit {
  .press-list-container {
    flex-wrap: wrap;
    justify-content: space-between;
    @include media-query(landscape-phones-and-down) {
      .press-list-individual {
        flex: 0 1 100%;
        margin-bottom: 2em;
      }
    }
  }
  .press-list-individual {
    flex: 0 1 31%;
    position: relative;
    margin-bottom: 2em;
    &--gray,
    &--primary {
      padding: 25px;
    }
    &--gray {
      background: #f7f7f7;
    }
    &--primary {
      background: $brand-primary;
      .flex-row {
        align-items: baseline;
      }
      h3,
      .fa {
        color: #fff;
      }
      h3 {
        padding-left: 5%;
      }
    }
    .logo-text {
      background: #eee;
      color: $gray;
      margin: 25px -25px -25px !important;
      padding: 10px;
      text-align: center;
    }
    .overlay {
      background: fade-out($brand-primary, .25);
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: opacity .25s;
      span {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    a:hover {
      text-decoration: none;
      .overlay {
        opacity: 1;
      }
    }
  }
}
