{% extends 'base.html' %}

{% block full_title %}
Startup Weekend DO
{% endblock full_title %}

{% block body %}
{% if current_event %}
{% include 'includes/home-current-event.html' %}
{% else %}
{% include 'includes/home-static.html' %}
{% endif %}

<section class="gray-bg">
  <div class="container">
    <h3 class="text-center text-uppercase"><b>Suscríbete a nuestro boletín</b></h3>
    <p class="text-center">
      Regístrate para recibir periódicamente nuestro boletín de noticias y próximos eventos.
    </p>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <form class="form-inline mailchimp-form">
          <div class="form-group">
            <label class="sr-only" for="primer_nombre">Primer Nombre</label>
            <input type="text"
              class="form-control"
              id="primer_nombre"
              placeholder="Primer Nombre">
          </div>
          <div class="form-group">
            <label class="sr-only" for="apellido">Apellido</label>
            <input type="text"
              class="form-control"
              id="apellido"
              placeholder="Apellido">
          </div>
          <div class="form-group">
            <label class="sr-only" for="correo_electronico">Correo Electrónico</label>
            <input
              type="email"
              class="form-control longer"
              id="correo_electronico"
              placeholder="Correo Electrónico">
          </div>
          <button type="submit" class="btn btn-primary">Regístrate</button>
        </form>
      </div>
    </div>

  </div>
</section>

{% endblock %}
