{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Startup Weekend Santo Domingo, RD.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

    <!-- Le styles -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="cover">
      <div class="container">
        <div class="row">
            <div class="col-sm-12">
              <img src="{% static 'img/1_logo.png' %}">
            </div>
            <div class="col-sm-12 text-center">
                <h1 class="big-tagline">{{ event.title }}</h1>
                <h3 class="small-tagline">{{ event.first_date|date:'d' }} , {{ event.second_date|date:'d' }} y {{ event.third_date|date:'d F' }} </h3>
                <h4>{{ event.place }}</h4>
            </div>
        </div>
          <div class="row">
            <div class="col-sm-12 text-center ">
              <div>
                  <a href="{{ event.registration }}" class="btn btn-xlarge btn-signup">¡Inscripciones abiertas!</a>
                <a class="btn btn-xlarge btn-learn" id="more-button">Más información</a>
              </div>
            </div>
          </div>
        </div><!-- /container -->
      </div><!-- /cover-->

    <div id="nav-wrapper">
      <div class="navbar navbar-default" id="home-navbar" role="navigation">
        <div class="navbar-inner">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                <img src="{% static 'img/menu_logo.png' %}">
              </a>
              <a class="navbar-brand" href="https://www.facebook.com/swsantodomingo"><img src="{% static 'img/fb.png' %}"></a>
              <a class="navbar-brand" href="https://twitter.com/swsantodomingo"><img src="{% static 'img/tw.png' %}"></a>
              <a class="navbar-brand" href="https://www.youtube.com/user/startupweekenddo"><img src="{% static 'img/yt.png' %}"></a>
              <a class="navbar-brand" href="http://instagram.com/swsantodomingo"><img src="{% static 'img/ig.png' %}"></a>
            </div><!-- /navbar-header -->
            <div class="collapse navbar-collapse" role="menu">
              <ul class="nav navbar-nav navbar-right">
                <li><a id="programa" class="btn btn-default">Programa</a></li>
                <li><a id="patrocinadores" class="btn btn-default">Patrocinadores</a></li>
                <li><a id="colaboradores" class="btn btn-default">Colaboradores</a></li>
                <li><button type="button" class="btn btn-subscribe navbar-btn" onclick="location.href = '{{ event.registration }}';">Inscríbete</button></li>
              </ul>
            </div><!-- /navbar-collapse -->
          </div><!-- /container -->
        </div><!-- navbar-inner -->
      </div><!-- home-navbar -->
    </div><!-- nav-wrapper -->

    <div id="about">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 text-center col-sm-offset-2">
          <h1>¿Qué es Startup Weekend?</h1>
          <h2>NO TALK. ALL ACTION.</h2>
            <div class="embed-responsive embed-responsive-16by9">
             <iframe width="560" height="315" src="//www.youtube.com/embed/cPScUWwP6ec" frameborder="0" allowfullscreen></iframe>
            </div>   
          </div>
        </div>
      </div><!-- /container -->
    </div><!-- /about -->

    <div id="since2008">
        <img src="{{ event.image.url  }}">
    </div><!-- /section-redboy -->

    <div id="program">
      <div class="container">
        <div class="row">
          <h1 class="text-center">Programa</h1>
          <div class="col-sm-4">
            <table class="table table-hover">
                <caption>Viernes {{ event.first_date|date:'d'  }} de {{ event.first_date|date:'F' }} </caption>
              <tr>
                <td>6:00 pm</td>
                <td>Registro de los Participantees</td> 
              </tr>
              <tr>
                <td>7:00 pm</td>
                <td>Bienvenida e Introducción</td> 
              </tr>
              <tr>
                <td>7:45 pm</td>
                <td>Pitches Fire</td> 
              </tr>
              <tr>
                <td>8:30 pm</td>
                <td>Votación y Cena</td> 
              </tr>
              <tr>
                <td>9:00 pm</td>
                <td>Formación de Equipos</td> 
              </tr>
              <tr>
                <td>9:30 pm</td>
                <td>Inicio del Trabajo</td> 
              </tr>
            </table>
          </div>
          <div class="col-sm-4">
            <table class="table table-hover">
            <caption>Sabado {{ event.second_date|date:'d'  }} de {{ event.second_date|date:'F' }} </caption>
              <tr>
                <td>9:00 am</td>
                <td>Desayuno e Inicio del Trabajo</td> 
              </tr>
              <tr>
                <td>10:00 am</td>
                <td>Panel de Mentores</td> 
              </tr>
              <tr>
                <td>11:00 am</td>
                <td>Validar ¿Qué es?</td> 
              </tr>
              <tr>
                <td>11:30 am</td>
                <td>Salir a Validar</td> 
              </tr>
              <tr>
                <td>1:00 pm</td>
                <td>Almuerzo</td> 
              </tr>
              <tr>
                <td>3:30 pm</td>
                <td>Check Up</td> 
              </tr>
              <tr>
                <td>3:30 pm</td>
                <td>Mentoría Especializada</td> 
              </tr>
              <tr>
                  <td>6:30 pm </td>
                  <td>Cena</td>
              </tr>
              <tr>
                  <td>10:00 pm</td>
                  <td>Pitch Fire</td>
              </tr>
            </table>
          </div>
          <div class="col-sm-4">
            <table class="table table-hover">
            <caption>Domingo {{ event.third_date|date:'d'  }} de {{ event.third_date|date:'F' }} </caption>
              <tr>
                <td>9:00 am</td>
                <td>Desayuno e Inicio del Trabajo</td> 
              </tr>
              <tr>
                <td>1:00 pm</td>
                <td>Almuerzo</td> 
              </tr>
              <tr>
                <td>1:30 pm</td>
                <td>Práctica Oratoria</td> 
              </tr>
              <tr>
                <td>3:30 pm</td>
                <td>Entrega Presentaciones Finales y Evaluación Técnica</td> 
              </tr>
              <tr>
                <td>4:00 pm</td>
                <td>Tech Check</td> 
              </tr>
              <tr>
                <td>5:30 pm</td>
                <td>Entrada del Público General</td> 
              </tr>
              <tr>
                <td>6:00 pm</td>
                <td>Presentacion Finales</td> 
              </tr>
              <tr>
                <td>8:30 pm</td>
                <td>Premiación y Cierre del Evento</td> 
              </tr>
              <tr>
                <td>9:00 pm</td>
                <td>Fiesta de Cierre</td> 
              </tr>
            </table>
          </div>
        </div><!-- /row --> 
      </div><!-- container -->
    </div> <!-- /programa -->

    <div id="sponsors">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="text-center">Patrocinadores</h1>
            {% if sponsors.diamonds|length >= 0 %}
                <h2>Diamante</h2>
                
                <ul class="gold">
                {% for diamond in sponsors.diamonds %}
                  <li>
                      <a href="{{ diamond.url }}" target="_blank">
                          <img src="{{ diamond.image.url }}" alt="{{ diamond.name }}" />
                    </a>
                  </li>
                {% endfor %}
                </ul>
            {% endif %}
            
            {% if sponsors.platinums|length != 0 %}
                <h2>Platino</h2>

                <ul class="gold">
                {% for platinum in sponsors.platinums %}
                  <li>
                      <a href="{{ platinum.url }}" target="_blank">
                          <img src="{{ platinum.image.url }}" alt="{{ platinum.name }}" />
                    </a>
                  </li>
                {% endfor %}
                </ul>
            {% endif %}

            {% if sponsors.golds|length != 0 %}
                <h2>Oro</h2>
                <ul class="gold">
                {% for gold in sponsors.golds %}
                  <li>
                      <a href="{{ gold.url }}">
                          <img src="{{ gold.image.url }}" alt="{{ gold.name }}" />
                    </a>
                  </li>
                {% endfor %}
                </ul>
            {% endif %}

            {% if sponsors.silvers|length != 0 %}
                <h2>Plata</h2>
                <ul class="silver">
                    {% for silver in sponsors.silvers %}
                  <li>
                      <a href="{{ silver.url }}">
                          <img src="{{ silver.image.url  }}" alt="{{ silver.name }}" />
                    </a>
                  </li>
                  {% endfor %}
                </ul>
            {% endif %}
            
            {% if sponsors.bronzes|length != 0 %}
                <h2>Bronce</h2>
                <ul class="bronze">
                    {% for bronze in sponsors.bronzes %}
                  <li>
                      <a href="{{ bronze.url }}">
                          <img src="{{ bronze.image.url }}" alt="{{ bronze.name }}" />
                    </a>
                  </li>
                  {% endfor %}
                </ul>
            {% endif %}

            {% if sponsors.media_partners|length != 0 %}
                <h2>Media Partner</h2>
                <ul class="gold">
                    {% for media_partner in sponsors.media_partners %}
                  <li>
                      <a href="{{ media_partner.url }}">
                          <img src="{{ media_partner.image.url }}" alt="{{ media_partner.name }}" />
                    </a>
                  </li>
                  {% endfor %}
                </ul>
            {% endif %}

            </ul>
          </div>
        </div>
      </div>
    </div>

    {% for facilitator in facilitators %}
    <div id="facilitator">
      <div class="container text-center">
        <h1>Facilitadora</h1>
          <div class="row">
            <div class="collaborator col-sm-4 text-center">
                <img src="{{ facilitator.image.url }}" class="img-circle">
              <h4>{{ facilitator.name }}</h4>
              <h4>{{ facilitator.twitter }}</h4>
            </div>
            <div class="col-sm-8">
                <p>{{ facilitator.bio }}</p>
            </div>
          </div><!-- /row -->
        </div><!-- /container -->
      </div><!-- /collaborators -->
    {% endfor %}

<!-- mentors -->
    <div id="coaches">
      <div class="container text-center">
        <h1>Mentores</h1>
        {% for mentor in mentors %}
        <div class="row">
            <div class="collaborator col-sm-4 text-center">
              <img src="{{ mentor.image.url }}" class="img-circle">
              <h4>{{ mentor.name }}</h4>
              <h5>{{ mentor.position }}</h5>
            </div>
            <div class="col-sm-8">
                <p>{{ mentor.bio }}</p>
            </div>
        </div><!-- /row --> 
        {% endfor %}
      </div><!-- /container -->
    </div>
      
      <!--
      <div class="container text-center">
        <h1>Coaches</h1>
          <div class="row">
            <div class="collaborator col-sm-4 text-center">
              <img src="{% static 'img/organizers/avatar.png' %}" class="img-circle">
              <h4>¡Este puedes ser tú!</h4>
            </div>

            <div class="col-sm-8">
                <a href="https://docs.google.com/forms/d/1s0caYiBqJTFRb2xDi1IY-VFgWd7zon9wmP4Z_Q3_nyI/viewform?usp=send_form">¿Te gustaría ser Coach? ¡Anímate! Llena este formulario y te contactaremos.</a>
            </div>

          </div>
        </div>
      </div>
      -->

<!-- judges -->
      <div id="judges">
        <div class="container text-center">
          <h1>Jueces</h1>
            {% for judge in judges %}
              <div class="row">
                <div class="collaborator col-sm-4 text-center">
                    <img src="{{ judge.image.url }}" class="img-circle">
                    <h4>{{ judge.name }}</h4>
                    <h5>{{ judge.position }}</h5>
                </div>
                <div class="col-sm-8">
                    <p>{{ judge.bio }}</p>
                </div>
              </div><!-- /row -->
            {% endfor %}
        </div><!-- /container -->
      </div><!-- /collaborators -->


  <div id="organisers">
    <div class="container text-center">
        <div class="row">
          <div class="col-sm-12">
            <h1>Organizadores</h1>

            <p>Startup Weekend Santo Domingo llega a ti por la labor de las siguientes personas</p>
            
            {% for organizer in organizer %}
            <div class="organiser">
                <img src="{{ organizer.image.url }}" class="img-circle">
                <h4>{{ organizer.name }}</h4>
            </div>
            {% endfor %}

          </div><!-- col -->
        </div><!-- /row -->

        {% if collaborators|length >= 1 %}
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <h1>Colaboradores</h1>
            
            {% for collaborator in collaborators %}
            <div class="organiser">
                <img src="{{ collaborator.image.url }}" class="img-circle">
                <h4>{{ collaborator.name }}</h4>
            </div>
            {% endfor %}
            
          </div><!-- col -->
        </div><!-- row -->
        {% endif %}

      </div><!-- /container -->
    </div><!-- /organisers -->

    <div class="footer">
      <div class="container">
        <div class="col-sm-4 col-sm-offset-4 text-center">
          <h1>Síguenos</h1>
          <a href="https://www.facebook.com/swsantodomingo"><i class="fa fa-facebook-square fa-4x fa-inverse social-icon"></i></a>
          <a href="https://twitter.com/swsantodomingo"><i class="fa fa-twitter-square fa-4x fa-inverse social-icon"></i></a>
          <a href="mailto:swsantodomingo@gmail.com"><i class="fa fa-envelope-square fa-4x fa-inverse social-icon"></i></a>
        </div>
      </div>
    </div>

    <div class="credits">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
          </div>
        </div>
      </div>
    </div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/app.js' %}"></script>
    

    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                  ga('create', 'UA-56104547-1', 'auto');
                    ga('send', 'pageview');

    </script>

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
