//
// Event Sponsors
//
.sponsors {
  h5 {
    font-weight: normal;
    text-transform: uppercase;
    @extend .text-muted;
  }
  &--row {
    align-items: center;
    display: flex;
    @extend .gap-bottom-md;
    &-item {
      flex: 0 1 18%;
      margin-right: 2%;
    }
  }
  @include media-query(landscape-phones-and-down) {
    &--row {
      flex-wrap: wrap;
    }
  }
}

//
// Event Mentors, Judges, Organizers
//
.team {
  &--container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1%;
  }
  &--row-item {
    flex: 0 1 14.66%;
    margin: 0 1% 2em;
    @include media-query(phones) {
      flex-basis: 48%;
    }
  }
}

//
// Past Event row layout
//
.past-event {
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  border-left: 9px solid $brand-primary;
  @extend .gap-bottom-sm;
  @include media-query(landscape-phones-and-down) {
    flex-wrap: wrap;
    &--col {
      flex: 0 1 100%;
      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }
  }
}

//
// Past Events page
//
#past-events {
  background: #f7f7f7;
  //
  // Past Event Detail page
  //
  &--detail {
    .page-header {
      background-size: cover !important;
      background-position: center center !important;
      margin: 0 0 2em;
      padding: 40px 0;
      position: relative;
      h1,
      a {
        color: #fff;
      }
      .breadcrumb > .active {
        color: $gray-lighter;
      }
      .info-row {
        color: #fff;
        display: flex;
        margin: .75em 0 0;
        > div:first-child {
          margin-right: 2em;
        }
      }
      .container {
        position: relative;
        z-index: 99;
      }
      .overlay {
        background: fade-out($brand-primary, .25);
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
