// ===========================================================================
// Main Navbar
// ===========================================================================

.navbar-default {
  font-family: $font-family-serif;

  .navbar-brand {
    padding: 20px 16px;
    img {
      height: auto;
      width: 97px;
    }
  }
}
