#home {
  .jumbotron {
    background: url('/static/images/jumbotron.png');
    background-size: cover;
    background-position: left bottom;
    color: #fff;
    min-height: 550px;
    position: relative;
    .jumbotron-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      > h1 {
        font-size: 4em;
      }
      > p {
        color: inherit !important;
      }
    }
    //
    // Version of the Jumbotron when there is a current event
    //
    &.current-event {
      background-color: $brand-primary;
      background-size: cover !important;
      background-position: center center !important;
      min-height: 450px;
      position: relative;
      .jumbotron-content {
        z-index: 99;
        > h1 {
          font-size: 3.25em;
        }
        > h5 {
          color: inherit;
        }
        .info-row {
          display: flex;
          justify-content: center;
          > div:first-child {
            margin-right: 1em;
          }
        }
      }
      .overlay {
        background: fade-out($brand-primary, .25);
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
    @include media-query(landscape-phones-and-down) {
      min-height: 450px !important;
      .jumbotron-content {
        font-size: 10px;
        width: 90%;
        > p {
          font-size: 1.5em;
        }
      }
    }
  }
  //
  // Recent Blog Posts
  //
  .recent-posts {
    h4 > a {
      color: $brand-primary;
    }
  }

  //
  // Homepage Counters
  //
  .counters {
    &--container {
      text-align: center;
    }
    &--number {
      font-size: 1.25em;
      font-weight: bold;
    }
    &--title {
      color: lighten(#fff, .75);
    }
  }

  //
  // Homepage Calendar
  //
  .calendar {
    &--container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &--event {
      align-content: flex-end;
      border-bottom: 1px solid $gray-lighter;
      display: flex;
      flex: 0 1 48%;
      justify-content: space-between;
      margin-bottom: 1em;
      padding-bottom: 1em;
      &-date {
        color: $gray-light;
        font-family: $font-family-serif;
      }
      &-title {
        color: $brand-primary;
        font-size: 1.25em;
        font-weight: bold;
      }
    }
    @include media-query(landscape-phones-and-down) {
      &--event {
        flex: 0 1 100%;
      }
    }
  }
  //
  // Porgrama del Evento
  //
  .panel {
    border: 0;
    border-radius: 0;
    margin: 0;
    &-body {
      border: 0 !important;
    }
    .schedule-item {
      b,
      span {
        display: inline-block;
      }
      b {
        min-width: 100px;
      }
    }
  }

  //
  // Event Sponsors
  //
  .sponsors {
    h5 {
      font-weight: normal;
      text-transform: uppercase;
      @extend .text-muted;
    }
    &--row {
      align-items: center;
      display: flex;
      @extend .gap-bottom-md;
      &-item {
        flex: 0 1 18%;
        margin-right: 2%;
      }
    }
    @include media-query(landscape-phones-and-down) {
      &--row {
        flex-wrap: wrap;
      }
    }
  }
}

//
// Mailchimp Signup Form
//
.mailchimp-form {
  .form-control {
    font-family: $font-family-serif;
    padding: 21px 28px;
    text-transform: uppercase;
    &.longer {
      min-width: 250px;
    }
  }
  @include media-query(desktops-and-up) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (max-width: 1199px) {
    .form-group {
      display: block;
      margin-bottom: 1em;
    }
    .form-control {
      width: 100%;
    }
  }
}
