.page-header {
  border: 0;
  margin-bottom: 0;
  padding: 0;
  .breadcrumb {
    background-color: transparent;
    margin: 0 0 1em;
    padding: 0;
  }
}

.mailchimp-form {
  &.form-full {
    .form-group,
    .form-control {
      width: 100%;
    }
    .form-group {
      margin-bottom: .5em;
    }
  }
}
