//
// Page Header
//
.page-header {
  background: $brand-primary;
  border: 0;
  margin: 0 0 40px;
  padding: 90px 0;
  text-align: center;
  h1 {
    color: #fff;
    font-size: 4.25em;
    margin: 0;
  }
  @include media-query(landscape-phones-and-down) {
    padding: 45px 0;
    h1 {
      font-size: 3em;
    }
  }
}

//
// Breadcrumbs
//
.breadcrumb {
  background-color: transparent;
  margin: 0;
  padding: 0;
  a {
    color: #fff;
  }
  > li {
    &::before {
      color: #fff !important;
    }
    &.active {
      color: lighten($brand-primary, 22.5%);
    }
  }
}

//
// Mailchimp Form
//
.mailchimp-form {
  &.form-full {
    .form-group,
    .form-control {
      width: 100%;
    }
    .form-group {
      margin-bottom: .5em;
    }
  }
  .required {
    color: $sw-red;
  }
  .extra-fields {
    display: none;
  }
}

//
// "Startup Weekend" page
//
#about {
  .content-wrap {
    text-align: center;
    p {
      font-size: 1.25em;
      @extend .text-muted;
    }
    img {
      margin: 1.25em 0;
    }
  }
}

//
// "Conectate" page
//
#conectate {
  .mailchimp-form {
    .form-group {
      margin-bottom: 2em;
    }
  }
  .fb-page,
  .twitter-timeline {
    min-height: 500px;
  }
}

//
// "Press Kit" page
//
#press-kit {
  .press-list-container {
    justify-content: space-between;
    @include media-query(landscape-phones-and-down) {
      flex-wrap: wrap;
      .press-list-individual {
        flex: 0 1 auto;
        margin-bottom: 2em;
      }
    }
  }
  .press-list-individual {
    padding: 25px;
    flex: 0 1 31%;
    position: relative;
    &--gray {
      background: #f7f7f7;
    }
    &--primary {
      background: $brand-primary;
    }
    .logo-text {
      background: #eee;
      color: $gray;
      margin: 25px -25px -25px !important;
      padding: 10px;
      text-align: center;
    }
    .overlay {
      background: fade-out($brand-primary, .25);
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: opacity .25s;
      span {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    a:hover {
      text-decoration: none;
      .overlay {
        opacity: 1;
      }
    }
  }
}
